.serviceSection {
  padding: 0 rem;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/web/campaign/images/frame.png") no-repeat center bottom, #100346;
  background-size: cover;

  & h6 {
    color: #fff;
    font-family: Rethink Sans;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
  }

  & p {
    color: #fff;
    font-family: Rethink Sans;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
  }
}

.main_card {
  width: 100%;
  height: auto;
  background-color: #060217;
}

.card {
  width: 100%;
  height: 300px;
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid #131839;
  background-color: #00041f;

  & h1 {
    width: 90%;
    padding-bottom: 0.6rem;
    color: #fff;
    font-family: Rethink Sans;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid #131839;
  }

  & p {
    color: #fff;
    width: 90%;
    padding-top: 0.6rem;
    font-family: Rethink Sans;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
  }

  & button {
    color: #fff;
    width: 154.4px;
    height: 51px;
    border-radius: 100px;
    border: none;
    border: 1px solid #161c44;
    background: radial-gradient(
      100% 100% at 50% 100%,
      #101636 14.38%,
      #0c1027 100%
    );
  }
}

.cards_child {
  display: flex;
  justify-content: space-between;
}

.other {
  margin: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainSec {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.iconSection {
  margin: 1rem 0;
  display: flex;
  gap: 10px;
  width: auto;
  height: 51px;
  padding: 12px 14px 12px 14px;
  border-radius: 100px;
  border: 1px solid #161c44;
  background-color: #000529;

  & p {
    color: #fff;
    font-family: Rethink Sans;
    font-size: 1rem;
    font-weight: 500;
  }
}

.mobile_size {
  display: none;
}

/* ---------asssitance---------- */

.asstiance {
  padding: 0 0 2rem;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/web/campaign/images/otherContainer.png") no-repeat center top, #100346;
  background-size: cover;

  .child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem 1rem;
    /* border: 1px solid #0e122e; */
    width: 60%;
    margin: 0 auto;
  }

  & h6 {
    text-align: center;
    color: #fff;
    font-family: Rethink Sans;
    font-size: 3.6rem;
    font-weight: 600;
  }

  & p {
    width: 100%;
    color: #fff;
    font-family: Rethink Sans;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
  }
}

.other_btn_sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------processs---------- */

.main_pro {
  max-width: 100%;
  background-color: #060314;
}

.process {
  margin: 0 auto;
  padding: 4rem 6rem 2rem;
  max-width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/web/campaign/images/process.png") no-repeat center bottom, #060314;
  background-size: cover;

  & h6 {
    color: #fff;
    font-family: Rethink Sans;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
  }

  & p {
    color: #fff;
    font-family: Rethink Sans;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
}

.cardSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  padding: 1.2rem;
}

.process-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem 0;
  padding: 2rem;
  width: 100%;
  height: 240px;
  border-radius: 10px;
  border: 1px solid #02083a;
  background: url("/web/campaign/images/icon/Vector.png") no-repeat right bottom, #00041f;
  background-size: cover;

  & h6 {
    margin: 0;
    font-family: Rethink Sans;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
  }

  & p {
    font-family: Rethink Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #a7adbe;
  }
}

#step {
  color: #ccd7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Rethink Sans;
  font-size: 1.1rem;
  font-weight: 500;
  width: 120px;
  padding: 5px;
  height: auto;
  border-radius: 100px;
  border: 1px;
  border: 1px solid #02083a;
}

/* --------process-section-start----------- -- */
.conso {
  padding: 0 0 4rem;
  height: auto;
  max-width: 100%;
  background-color: #060314;
}

.bg_sec {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  height: 100vh;
  background: url("/web/campaign/images/icon/Container\ \(1\).png") no-repeat center bottom,
    #060314;
  background-size: contain;
}

.work_cards_container {
  padding: 0 5rem 2rem;
  background-color: #060314;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.work_cards {
  position: relative;
  border: 1px solid #0e122e;
  background: #00020f;
  padding: 2rem;
  width: 100%;
  height: 160px;
  margin-bottom: 1rem;
  border-radius: 16px;

  & h6 {
    color: #fff;
    font-family: Rethink Sans;
    font-size: 1.2rem;
    font-weight: 600;
  }

  & p {
    padding-top: 0.6rem;
    color: #a7adbe;
    font-family: Rethink Sans;
    font-size: 1rem;
    font-weight: 400;
  }

  & img {
    position: absolute;
    top: -25px;
    left: 23px;
  }
}

.arrow_sec {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: 1px solid #ffffff1a;
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  width: fit-content;
  height: auto;
  border-radius: 100px;
  background-color: #aeadad52;
  backdrop-filter: blur(6px);
  box-shadow: 0px 8px 10.9px 0px #0003121f;

  & h6 {
    padding-top: 4px;
    margin: 0;
    color: #fff;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 500;
  }

  & button {
    border: none;
    width: auto;
    height: 27px;
    color: #fff;
    background-color: #007bff;
    border-radius: 100px;
  }
}

/* --------faq-section------ */

.faq {
  padding: 4rem 0 0;
  max-width: 100%;
  height: auto;
  background-color: #060314;
}

.faqSection {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/web/campaign/images/Container.png") no-repeat center top, #100346;
  background-size: cover;

  & h6 {
    color: #fff;
    font-family: Rethink Sans;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
  }

  & p {
    color: #fff;
    font-family: Rethink Sans;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
  }
}

.main-acc {
  padding: 2rem 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.2rem;
}

.accordion-item {
  color: #fff !important;
  background-color: #00041f !important;
  margin: 1rem 0;
  border: 1px solid #131839;
}

.accordion-button {
  border: 1px solid #131839;
  color: #fff !important;
  background-color: #00041f !important;
}

/* .accordion-button::after {
 font-size: 1.5rem;
  margin-left: auto;
  content: " \002B";
} */

.accordion-button::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("/web/campaign/images/icon/add.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("/web/campaign/images/icon/add.png");
}

.cont {
  margin-top: 1.2rem;
}

/* ------responsive-code---------- */

@media (max-width: 768px) {
  .cardSection {
    grid-template-columns: 1fr;
  }

  .cards_child {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .asstiance {
    height: auto;
    padding: 0;

    .child {
      width: 100%;
      margin: 0 auto;
    }

    & p {
      width: 100%;
    }

    & h6 {
      font-size: 2rem;
    }
  }

  .faqSection h6 {
    font-size: 2rem;
  }

  .work_cards_container {
    padding: 1rem;
    grid-template-columns: 1fr;
  }

  .card {
    padding: 1rem;
    height: auto;
    flex: 1 1 100%;

    & button {
      width: 100%;
    }
  }

  .bg_sec {
    display: none;
  }
  .main-acc {
    gap: 0;
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .mobile_size {
    padding-top: 1rem;
    gap: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h6 {
      color: #fff;
      font-family: Rethink Sans;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
    }

    & p {
      font-family: Rethink Sans;
      font-size: 18px;
      font-weight: 500;
      color: #6d7792;
      text-align: center;
    }
  }

  .process {
    margin: 0 auto;
    padding: 4rem 6rem 2rem;
    max-width: 100%;
    height: auto;

    & h6 {
      white-space: nowrap;
    }
  }

  .mainSec {
    display: flex;
    flex-direction: column;
  }

  .process-cards {
    height: auto;
  }
}
